# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env

# Streamlit
.streamlit/secrets.toml

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Archivos de log
*.log

# Archivos temporales
tmp/
temp/